.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
    }
    h4 {
        color: white;
        margin: 10px 0px 10px 0px;
    }  
}

.search-hero-form {
    width: 30%;
    text-align: center;

    input {
        border-radius: 2px;
        margin-right:5px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
    }
   
}

button {
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    background: #111111;
    border: 2px solid #ffffff;
    outline: 1px solid;
    padding: 0.5em 1.2em;
    outline-color: rgba(255, 0, 0, 0.5);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
        box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0,  0.4);
        outline-color: rgba(49, 138, 172, 0);
        outline-offset: 80px;
        text-shadow: 1px 1px 6px #fff;
    }
}

.container-results {
    width: 100%;
}


